In [185]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn import datasets
# Import train_test_split function
from sklearn.model_selection import train_test_split
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
import networkx as nx
import pandas as pd

from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from matplotlib import pyplot

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from time import time
import csv
import pickle
import statsmodels.formula.api as smf
import os
from tqdm import tqdm
from pandas import HDFStore,DataFrame
from pandas import read_hdf
from numpy.random import seed
from sklearn import model_selection
from sklearn.metrics import classification_report, confusion_matrix

In [186]:
X =  pd.read_csv('train$.csv')

y=X.Label

print(X.shape)

(101111, 8)

In [187]:
X

              RA        JC         AA        PA  CSH      RSH       WIC  Label
0       0.001851  0.002402   0.399403    108852    3  0.00000  0.000000      1
1       1.187737  0.002981  20.919812  41753600  110  0.00000  0.000000      1
2       0.000000  0.000000   0.000000      1278    0  0.00000  0.000000      1
3       0.172545  0.078947   1.652345       781    6  0.00000  0.000000      1
4       0.028818  0.141104   5.920194     34452   77  0.02301  2.066529      1
...          ...       ...        ...       ...  ...      ...       ...    ...
101106  0.000000  0.000000   0.000000       680    0  0.00000  0.000000      0
101107  0.000000  0.000000   0.000000       819    0  0.00000  0.000000      0
101108  0.000000  0.000000   0.000000        38    0  0.00000  0.000000      0
101109  0.000000  0.000000   0.000000        37    0  0.00000  0.000000      0
101110  0.000000  0.000000   0.000000       248    0  0.00000  0.000000      0

[101111 rows x 8 columns]

In [188]:
test_data = pd.read_csv('test$.csv')

In [189]:
test_data

            RA        JC        AA     PA  CSH       RSH     WIC
0     0.000000  0.000000  0.000000    667    0  0.000000     0.0
1     0.000000  0.000000  0.000000    666    0  0.000000     0.0
2     0.004624  0.011152  0.462729   4335    6  0.004624  3000.0
3     0.000028  0.003670  0.178805  18396    2  0.000000     0.0
4     0.000000  0.000000  0.000000    966    0  0.000000     0.0
...        ...       ...       ...    ...  ...       ...     ...
1995  0.000000  0.000000  0.000000    116    0  0.000000     0.0
1996  0.000049  0.006061  0.100722   5125    1  0.000000     0.0
1997  0.000000  0.000000  0.000000     58    0  0.000000     0.0
1998  0.000000  0.000000  0.000000    171    0  0.000000     0.0
1999  0.000000  0.000000  0.000000    502    0  0.000000     0.0

[2000 rows x 7 columns]

In [190]:
X.drop(['Label'],axis=1,inplace=True)

In [191]:
y

0         1
1         1
2         1
3         1
4         1
         ..
101106    0
101107    0
101108    0
101109    0
101110    0
Name: Label, Length: 101111, dtype: int64

In [192]:
X.drop(['PA'],axis=1,inplace=True)

In [193]:
test_data.drop(['PA'],axis=1,inplace=True)

In [194]:
test_data.shape

(2000, 6)

In [195]:
# X.drop(['RSH','PA'],axis=1,inplace=True)

# test_data.drop(['RSH','PA'],axis=1,inplace=True)

In [196]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [197]:

# from sklearn.datasets import make_classification
# from sklearn.model_selection import GridSearchCV
# #Creating a grid of 
# hyperparametersgrid_params = {    'n_estimators': [100,200,300]}#Building a 3 fold CV GridSearchCV 
# objectgrid_object = GridSearchCV(estimator = ada_boost, param_grid = grid_params, scoring = 'accuracy', cv = 3, n_jobs = -1)#Fitting the grid to the training 
# datagrid_object.fit(X_train, y_train)

In [198]:
mymodel = AdaBoostClassifier(n_estimators=500,learning_rate=0.001)

In [199]:
# Train Adaboost Classifer
model = mymodel.fit(X_train, y_train)

In [200]:
result = model.score(X_train,y_train)
print("Accuracy: %.2f%%" % (result*100.0))

Accuracy: 85.02%

In [183]:
result = model.score(X_test, y_test)
print("Accuracy: %.2f%%" % (result*100.0))

Accuracy: 85.24%

In [201]:
pre=model.predict_proba(X_test)
# print(pre)
y_pre=[p[1] for p in pre]
acc=model.score(X_test,y_test)
print(acc)
auc=roc_auc_score(y_test,y_pre)
print(auc)

0.8477615876574142
0.8635633739366547

In [202]:
# another try to fit and evaluate the model using K-fold Cross-Validation
# this validation startegy improves the performance of the model and could be a better model validation strategy
kfold = model_selection.KFold(n_splits=10, random_state=None)
model_kfold = mymodel.fit(X,y) 
results_kfold = model_selection.cross_val_score(model_kfold, X, y, cv=kfold)
print("Accuracy: %.2f%%" % (results_kfold.mean()*100.0))

Accuracy: 84.56%

In [203]:
result = model.score(X, y)
print("Accuracy: %.2f%%" % (result*100.0))

Accuracy: 84.96%

In [204]:
# Evaluation metrics
from sklearn.metrics import roc_curve, auc, roc_auc_score, confusion_matrix, f1_score

In [205]:
pre=model.predict_proba(X_test)
# print(pre)
y_pre=[p[1] for p in pre]
acc=model.score(X_test,y_test)
print(acc)
auc=roc_auc_score(y_test,y_pre)
print(auc)

0.8480582844333091
0.8636167342244835

In [206]:
test_data.shape

(2000, 6)

In [208]:
predictions=model.predict_proba(test_data)

In [209]:
with open("ada3.csv","w",newline="") as csvfile:
    writer=csv.writer(csvfile)
    writer.writerow(["Id","Predicted"])
    test_id=1
    for prediction in predictions:
        writer.writerow([test_id,prediction[1]])
        test_id+=1